body {
  background-color: #C4E3CB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  color: #6A9C78;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}

.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

button {
  background: #6A9C78;
  border-radius: 30px;
  width: 70px;
  height: 30px;
  font-size: 12px;
  border: none;
  letter-spacing: 1px;
  font-weight: normal;
  color: #F9F8ED;
}
